<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="BancoEventos"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\Source\FIAP\Arquitetura_C#\Ex_4\Exercicio4\Fiap.PlataformaNet.ConceitosCSharp.WindowsApp\DBEVENTOS.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>